@{
    ViewData["Title"] = "Home";
}

<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>

<div class="top-section">
    <h2>Coordinate Converter</h2>
    <p>Enter coordinates, and have it return the closest track to those coordinates</p>
    <select id="inputOptions">
        <option value="latitudeLongitudeInput">Latitude / Longitude</option>
        <option value="eastingNorthingInput">Easting / Northing</option>
        <option value="trackComparisonInput">Track Comparison</option>
    </select>
    <div class="input-box">
        <div id="latitudeLongitudeInput" class="input-group">
            <div class="input">
                <label for="latitude">Latitude:</label>
                <input type="text" id="latitude" name="latitude">
            </div>
            <div class="input">
                <label for="longitude">Longitude:</label>
                <input type="text" id="longitude" name="longitude">
            </div>
        </div>
        <div id="eastingNorthingInput" class="input-group">
            <div class="input">
                <label for="easting">Easting:</label>
                <input type="text" id="easting" name="easting">
            </div>
            <div class="input">
                <label for="northing">Northing:</label>
                <input type="text" id="northing" name="northing">
            </div>
        </div>
        <div id="trackComparisonInput" class="input-group">
            <div class="input">
                <label for="elr">ELR:</label>
                <input type="text" id="elr" name="elr">
            </div>
            <div class="input">
                <label for="miles">Miles:</label>
                <input type="text" id="miles" name="miles">
            </div>
        </div>
    </div>
    <div class="button-box">
        <button id="findClosest" onclick="findClosest()">Find Closest</button>
        <button id="myLocation" onclick="useMyLocation()">Use My Location</button>
    </div>
</div>

<div class="information-block">
    <div id="originalBlock">
        <h1>Original:</h1>
        <hr />
        <ul>
            <li>Easting:</li>
            <li>Northing:</li>
            <li>Latitude</li>
            <li>Longitude</li>
            <li>ELR</li>
            <li>Mileage</li>
            <li>Chainage</li>
            <li>Yardage</li>
        </ul>
    </div>
    <div id="closestMap"></div>
    <div id="returnBlock">
        <h1>Closest Track:</h1>
        <hr />
        <ul>
            <li>ELR:</li>
            <li>Miles and Chains:</li>
            <li>Yards along ELR:</li>
            <li>Latitude:</li>
            <li>Longitude:</li>
            <li>Track Type:</li>
            <li>Easting / Northing:</li>
            <li>Distance from track:</li>
        </ul>
    </div>
</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="~/js/index.js" asp-append-version="true"></script>
